# Entorno virtual
env/
venv/

# Archivos compilados de Python
__pycache__/
*.py[cod]
*$py.class

# Base de datos SQLite
*.sqlite3
db.sqlite3

# Archivos de configuración local o de entorno
*.env
.env.*

# Archivos de logs
*.log

# Archivos de migraciones (opcional, si se regeneran)
*/migrations/*.py
*/migrations/*.pyc
!*/migrations/__init__.py

# Archivos estáticos y de medios (si se generan dinámicamente)
staticfiles/
static/
media/

# Archivos grandes comunes
*.pdf
*.jpg
*.jpeg
*.png

