/*
Aviso de favoritos que se agrego al carrito*/

.mensaje-carrito-aviso {
    position: fixed;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    background: #ffffff;
    color: #111111;
    padding: 12px 32px;
    border-radius: 8px;
    font-size: 1.1rem;
    z-index: 9999;
    box-shadow: 0 2px 8px #0000001a;
    border: 1.5px solid #222222;
    font-weight: 500;
    display: none;
    transition: opacity 0.2s;
} 